.fpcontainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.forms-fpcontainer {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
}

.confirm-fpcontainer {
    display: none;
    height: 30%;
    margin: 5%;
    padding: 0 10%;
}

.logo_cls {
    position: absolute;
    top: 61%;
    width: 42%;
    display: flex;
    justify-content: center;
    margin: 0 4%;
}

.fpsignin-signup {
    position: absolute;
    top: 51%;
    left: 50%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    border-left: 1px solid black;
}

.fpsign-in-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.fptitle {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    color: #000000;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fpsubtitle {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    text-align: center;
    line-height: 23px;
}

.fpinput-field {
    height: 45px;
    margin: 7% 1% 1% 1%;
    display: flex;
    padding: 0 0.4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F6F6F6;
}

.fpinput-field img {
    display: flex;
    padding-right: 10px;
    height: 75%;
    margin-top: 3%;
}

.fppass {
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

.fppass:hover {
    text-decoration: underline;
}

.fppass:hover {
    color: red;
}

.fpbklog {
    margin: 4% 1%;
    font-size: 15px;
    text-align: center;
}

.fpinput-field input {
    background: none;
    outline: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--input);
}

.fpinput_cls {
    border: 0;
    border-left: 1px solid black;
    width: 100%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding-left: 2%;
}

.fpinput-field input::placeholder {
    color: var(--input-hover);
    font-weight: 500;
}

.fpreset_btn {
    margin: 12% auto;
    cursor: pointer;
    padding: 1% 7%;
    width: max-content;
    font-size: 20px;
    background: #D2232A;
    color: white;
    text-align: center;
    border: none;
    box-shadow: 0px 3px 3px 1px #776262;
    margin-bottom: 10px;
}

.fperrorMsg {
    display: none;
    color: red;
    text-align: center;
    height: 7px;
    font-size: 13px;
    margin-left: 2%;
}

.img_logo {
    width: 85%;
}

.fplogin_btn {
    margin: 2% auto;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    width: max-content;
    font-size: 20px;
    background: #D2232A;
    color: white;
    text-align: center;
    border: none;
    box-shadow: 0px 3px 3px 1px #776262;
    margin-bottom: 10px;
}

.fplogin_btn a {
    color: #FFF;
    text-decoration: none;
}


/* =================== Spinner Start =================== */

.spinner-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.spinner-ts {
    --size: 85px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
}

.inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #999999;
}

.inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000000;
}

.inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #d90000;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


/* =================== Spinner End =================== */

@media(max-width: 1024px) {
    .forms-fpcontainer {
        display: block;
        height: 100%;
    }

    .confirm-fpcontainer {
        height: 40%;
        margin: 10%;
    }

    .logo_cls {
        top: 15%;
        width: 66%;
        margin: 0 17%;
    }

    .fpsignin-signup {
        top: 38%;
        width: 90%;
        margin: 0 5%;
        left: 0;
        border-left: 0px;
    }

    .fpinput-field {
        margin: 25px 0;
        height: 50px;
        font-size: 1.4rem;
    }

    .fpsign-in-div {
        width: 60%;
    }

    .fpsubtitle {
        margin: 25px 0;
    }

    .fpbklog {
        font-size: 21px;
        font-weight: 600;
    }

    .reset_btn {
        margin: 9% auto 3%;
        padding: 2% 7%;
        font-size: 22px;
    }
}

@media (max-width: 950px) {
    .fpsign-in-div {
        width: 70%;
    }
}

@media(max-width: 767px) {
    .fpsign-in-div {
        width: 100%;
    }

    .confirm-fpcontainer {
        padding: 0 0;
    }

    .fpsubtitle {
        font-size: 18px;
    }

    .fplogin_btn {
        margin: 4% auto;
        font-size: 17px;
    }

    .fpsign-in-form {
        padding: 0 1rem;
    }

    .fpinput-field img {
        margin-top: 2%;
    }

    .fptitle {
        font-size: 30px;
    }

    .fpsignin-signup {
        top: 35%;
    }
}

@media(max-width: 600px) {
    .fpsubtitle {
        font-size: 22px;
    }

    .reset_btn {
        font-size: 21px;
    }

    .fpbklog {
        font-size: 20px;
    }
}

@media(max-width: 500px) {
    .fpinput-field img {
        margin-top: 4%;
    }
}